<p>
  <strong>Day of week:</strong>
  <%= Date::DAYNAMES[@hour.day_of_week] %>
</p>
<p>
  <strong>Time open:</strong>
  <%= local_time @hour.time_open, "%I:%M:%S %p" %>
</p>

<p>
  <strong>Time close:</strong>
  <%= local_time @hour.time_close, "%I:%M:%S %p" %>
</p>

<p>
  <strong>Person:</strong>
  <%= link_to @hour.person.name, @hour.person %>
</p>

<p>
  <strong>Alternating?</strong>
  <%= @hour.alternating %>
</p>
<p>
  <strong>Date Start:</strong>
  <%= local_time @hour.alt_start, "%B %e, %Y" rescue ""%>
</p>
<p>
  <strong>Is on week?</strong>
  <%=@hour.is_currently_on_week?%>
</p>


<div class="row">
	<%if current_user.is_admin%>
		<%=link_to fa_icon("pencil"), edit_hour_path(@hour), :class=>"btn btn-primary"%>
	<%end%>
	<%= link_to 'Back', back_link, :class=>"btn btn-danger pull-right" %>
</div>