<div class="row">
	<div class="col-md-10">
		<h2 class="nopadding">
			<%=@person.name.titleize%>
		</h2>
	</div>
	<div class="col-md-2 pull-right">
		<%if current_user.is_admin%>
			<%=link_to fa_icon("pencil"), edit_person_path(@person), :class=>"pull-right"%>
		<%end%>
	</div>
</div>
<hr />
<div class="row">
  	<!-- Nav tabs -->
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked less-padding" role="tablist">
			<li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">General Info</a></li>
			<li role="presentation"><a href="#tools" aria-controls="tools" role="tab" data-toggle="tab">Tools</a></li>
			<li role="presentation"><a href="#courses" aria-controls="courses" role="tab" data-toggle="tab">Courses</a></li>
			<li role="presentation"><a href="#timelogs" aria-controls="forms" role="tab" data-toggle="tab">Timelogs</a></li>
			<li role="presentation"><a href="#toollogs" aria-controls="forms" role="tab" data-toggle="tab">Tool Logs</a></li>
	  	</ul>
  	</div>
  	<!-- Tab panes -->
  	<div class="col-md-9">
	  	<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="info">
				<p>
				  <strong>Name:</strong>
				  <%= @person.name %>
				</p>

				<p>
				  <strong>Email:</strong>
				  <%= @person.email %>
				</p>

				<p>
				  <strong>Graduation year:</strong>
				  <%= @person.graduation_year %>
				</p>
				<%if current_user.is_admin%>
					<p>
					  <strong>Barcode:</strong>
					  <%= @person.barcode %>
					</p>

					<p>
					  <strong>Emergency contact name:</strong>
					  <%= @person.emergency_contact_name %>
					</p>

					<p>
					  <strong>Emergency contact number:</strong>
					  <%= @person.emergency_contact_number %>
					</p>

					<p>
					  <strong>Archived:</strong>
					  <%= @person.archived %>
					</p>

					<p>
					  <strong>Is admin:</strong>
					  <%= @person.is_admin %>
					</p>

					<p>
					  <strong>Is student admin:</strong>
					  <%= @person.is_student_admin %>
					</p>
				<%end%>
			</div>
			<div role="tabpanel" class="tab-pane" id="tools">
				<%@person.tools.order(:name).uniq.each do |tool|%>
					<%=render "/tools/tool_container", :tool=>tool%>
				<%end%>
			</div>
			<div role="tabpanel" class="tab-pane" id="courses">
				<h4>Courses Taken</h4>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Course</th>
							<th>Access Approved?</th>
						</tr>
					</thead>
					<tbody>
						<%CoursesPerson.where(:person_id=>@person.id).joins(:course).order("courses.name").each do |course|%>
							<tr>
								<td>
									<%=link_to course.course.name, course.course%>
								</td>
								<td>
									<%=course.approved ? "Approved" : "Pending"%>
								</td>
							</tr>
						<%end%>
					</tbody>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane" id="timelogs">
				<h4>Timelogs</h4>
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th>Time in</th>
				      <th>Time out</th>
				      <th>Duration</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @person.timelogs.limit(20).order(:time_beginning).each do |timelog| %>
				      <tr>
				        <td><%= local_time timelog.time_beginning %></td>
				        <td><%= local_time timelog.time_ending unless timelog.time_ending.nil?%></td>
				        <td><%= Time.at(timelog.duration).utc.strftime("%H:%M:%S") rescue ""%></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane" id="toollogs">
				<h4>Tool Logs</h4>
				<table class="table table-hover">
				  <thead>
				    <tr>
						<th>Tool</th>
				    	<th>Time in</th>
				      	<th>Time out</th>
				      	<th>Duration</th>
				    </tr>
				  </thead>

				  <tbody>
				    <% @person.tool_logs.limit(20).order(:time_beginning).each do |toollog| %>
				      <tr>
						<td><%= toollog.tool.name rescue "Tool name not found"%></td>
				        <td><%= local_time toollog.time_beginning %></td>
				        <td><%= local_time toollog.time_ending unless toollog.time_ending.nil?%></td>
				        <td><%= Time.at(toollog.duration).utc.strftime("%H:%M:%S") rescue ""%></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
	  	</div>
	</div>

</div>

<div class="row">
	<%= link_to 'Back', back_link, :class=>"btn btn-danger pull-right" %>
</div>