<%if current_user.is_admin%>
	<h2>Hey, I'm an admin!</h2>
	<hr />

	<div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Object Type</th>
				<th>List of All</th>
				<th>Create New</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Categories</td>
				<td><%=link_to "All Categories", categories_path%></td>
				<td><%= link_to 'New Category', new_category_path %></td>
			</tr>
			<tr>
				<td>Categories/Courses</td>
				<td><%=link_to "All Categories/Courses", categories_courses_path%></td>
				<td><%= link_to 'New Category/Course', new_categories_course_path%></td>
			</tr>
			<tr>
				<td>Categories/Tools</td>
				<td><%=link_to "All Categories/Tools", categories_tools_path%></td>
				<td><%= link_to 'New Category/Tool', new_categories_tool_path %></td>
			</tr>
			<tr>
				<td>Courses</td>
				<td><%=link_to "All Courses", courses_path%></td>
				<td><%= link_to 'New Course', new_course_path%></td>
			</tr>
			<tr>
				<td>Courses/People</td>
				<td><%=link_to "All Courses/People", courses_people_path%></td>
				<td><%= link_to 'New Course/Person', new_courses_person_path%></td>
			</tr>
			<tr>
				<td>Documentation Links</td>
				<td><%=link_to "All Documentation Links", documentation_links_path%></td>
				<td><%= link_to 'New Documentation Link', new_documentation_link_path%></td>
			</tr>
			<tr>
				<td>Hours</td>
				<td><%=link_to "All Hours", hours_path%></td>
				<td><%= link_to 'New Hour', new_hour_path%></td>
			</tr>
			<tr>
				<td>Hour Exceptions</td>
				<td><%=link_to "All Hour Exceptions", hour_exceptions_path%></td>
				<td><%= link_to 'New Hour Exception', new_hour_exception_path%></td>
			</tr>
			<tr>
				<td>Maintenance Actions</td>
				<td><%=link_to "All Maintenance Actions", maintenance_actions_path%></td>
				<td><%= link_to 'New Maintenance Action', new_maintenance_action_path%></td>
			</tr>
			<tr>
				<td>Maintenance Types</td>
				<td><%=link_to "All Maintenance Types", maintenance_types_path%></td>
				<td><%= link_to 'New Maintenance Type', new_maintenance_type_path%></td>
			</tr>
			<tr>
				<td>People</td>
				<td><%=link_to "All People", people_path%></td>
				<td><%= link_to 'New Person', new_person_path%></td>
			</tr>
			<tr>
				<td>Spaces</td>
				<td><%=link_to "All Spaces", spaces_path%></td>
				<td><%= link_to 'New Space', new_space_path%></td>
			</tr>
			<tr>
				<td>Space Reservations</td>
				<td><%=link_to "All Space Reservations", space_reservations_path%></td>
				<td><%= link_to 'New Space Reservation', new_space_reservation_path%></td>
			</tr>
			<tr>
				<td>Timelogs</td>
				<td><%=link_to "All Timelogs", timelogs_path%></td>
				<td><%= link_to 'New Timelog', new_timelog_path%></td>
			</tr>
			<tr>
				<td>Tools</td>
				<td><%=link_to "All Tools", tools_path%></td>
				<td><%= link_to 'New Tools', new_tool_path%></td>
			</tr>
			<tr>
				<td>Tool Logs</td>
				<td><%=link_to "All Tool Logs", tool_logs_path%></td>
				<td><%= link_to 'New Tool Log', new_tool_log_path%></td>
			</tr>
			<tr>
				<td>Tool Reservations</td>
				<td><%=link_to "All Tool Reservations", tool_reservations_path%></td>
				<td><%= link_to 'New Tool Reservation', new_tool_reservation_path%></td>
			</tr>
		</tbody>
	</table>
<%else%>
	<%=render "/layouts/no_approval"%>
<%end%>