<table class="table table-hover">
  <thead>
    <tr>
      <th>Person</th>
      <th>Form</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% forms_people.each do |forms_person| %>
      <tr>
        <td><%= link_to forms_person.person.name, forms_person.person %></td>
        <td><%= link_to forms_person.form.name, forms_person.form %></td>
        <td><%= link_to 'Show', forms_person %></td>
        <td><%= link_to fa_icon("pencil"), edit_forms_person_path(forms_person) %></td>
        <td><%= link_to fa_icon("trash-o"), forms_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>