<%=simple_form_for(@hour_exception, html: { class: 'form-horizontal' },wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f|%>
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<div class="panel panel-info">
			<div class="panel-heading">
				Hour Exceptions Form
			</div>
			<div class="panel-body">
 				<%= f.error_notification %>
				<%=f.input :time_beginning, as: :string%>
				<%=f.input :time_ending, as: :string%>
				<%=f.input :person_id, collection: Person.order("lower(name)"), input_html: {:include_blank => true}, :selected => (f.object.new_record? ? current_user.id : f.object.person_id)%>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-8">
						<%= f.submit "Submit", :class=>"btn btn-success"%> <%= link_to 'Back', back_link, :class=>"btn btn-danger pull-right" %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
<script>
$('#hour_exception_time_beginning').datetimepicker({
    dateFormat: 'yy-mm-dd',
	timeFormat: 'hh:mm TT'});
$('#hour_exception_time_ending').datetimepicker({
    dateFormat: 'yy-mm-dd',
	timeFormat: 'hh:mm TT'});
</script>
