<p id="notice"><%= notice %></p>

<p>
  <strong>Time beginning:</strong>
  <%= local_time @hour_exception.time_beginning %>
</p>

<p>
  <strong>Time ending:</strong>
  <%= local_time @hour_exception.time_ending %>
</p>

<p>
  <strong>Person:</strong>
  <%= link_to @hour_exception.person.name, @hour_exception.person %>
</p>

<div class="row">
	<%if current_user.is_admin%>
		<%=link_to fa_icon("pencil"), edit_hour_exception_path(@hour_exception), :class=>"btn btn-primary"%>
	<%end%>
	<%= link_to 'Back', back_link, :class=>"btn btn-danger pull-right" %>
</div>
