<p>
  <strong>Name:</strong>
  <%= @maintanance_type.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= link_to @maintanance_type.category.name, @maintanance_type.category %>
</p>

<p>
  <strong>Required hours between maintanance:</strong>
  <%= @maintanance_type.required_hours_between_maintanance %>
</p>

<div class="row">
	<%if current_user.is_admin%>
		<%=link_to fa_icon("pencil"), edit_maintanance_type_path(@maintanance_type), :class=>"btn btn-primary"%>
	<%end%>
	<%= link_to 'Back', back_link, :class=>"btn btn-danger pull-right" %>
</div>