<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= link_to @space_reservation.person.name, @space_reservation.person %>
</p>

<p>
  <strong>Space:</strong>
  <%= link_to @space_reservation.space.name, @space_reservation.space %>
</p>

<p>
  <strong>Reservation beginning:</strong>
  <%= @space_reservation.reservation_beginning %>
</p>

<p>
  <strong>Reservation ending:</strong>
  <%= @space_reservation.reservation_ending %>
</p>

<p>
  <strong>Number of people:</strong>
  <%= @space_reservation.number_of_people %>
</p>


<div class="row">
	<%if current_user.is_admin%>
		<%=link_to fa_icon("pencil"), edit_space_reservation_path(@space_reservation), :class=>"btn btn-primary"%>
	<%end%>
	<%= link_to 'Back', back_link, :class=>"btn btn-danger pull-right" %>
</div>