<%color = "red"%>
<div class="alert <%="#{color}"%>"%>
	<h5>Students Requesting Training</h5>
</div>
<dl>
	<%= form_tag update_many_courses_people_path, :method => :put do %>
		<%if @courses_approval.size ==0%>
			<i>There are no approvals required right now.</i>
		<%else%>
			<%@courses_approval.each do |course|%>
				<dt><%=course[0]%></dt>
				<dd>
					<ul class="list-unstyled">
						<%course[1].each do |record|%>
							<li>
				    			<%= fields_for "courses_people[]", record do |f| %>
									<%=f.check_box :approved%>
									<%=link_to record.person.name, record%>
			   						<%=f.hidden_field :approver, :value =>current_user.email%>
			   						<%=f.hidden_field :approval_date, :value =>DateTime.now%>
				    			<% end %>
								<div class="pull-right">
									<%= link_to fa_icon("trash-o"), record, method: :delete, data: { confirm: 'Are you sure?' } %>
								</div>
							</li>
						<%end%>
					</ul>
				</dd>
			<%end%>
		<%end%>
		<p><%= submit_tag "Course Complete", :class=>"btn #{color} fixed_bottom"%></p>
	<%end%>
</dl>
