<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>
<p>
  <strong>Link:</strong>
  	<%if !@form.external_link.nil?%>
  		<%= link_to @form.external_link, @form.external_link, :target=>"_blank"%>
	<%else%>
		<i>No Link Supplied</i>
	<%end%>
</p>
<p>
  <strong>Required?</strong>
  <%= @form.required %>
</p>

<div class="row">
	<%if current_user.is_admin%>
		<%=link_to fa_icon("pencil"), edit_form_path(@form), :class=>"btn btn-primary"%>
	<%end%>
	<%= link_to 'Back', back_link, :class=>"btn btn-danger pull-right" %>
</div>